<section class="content-header">
</section>

<section class="content">
    <section class="invoice">
      <form [formGroup]="orderForm" novaliddate>
            <div class="row">
              <div class="col-xs-12">
                <h2 class="page-header">
                  <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
                </h2>
              </div>
            </div>  
            
            <div class="row">
              <div class="col-xs-12 col-sm-9">
                   <p class="lead">Seus dados:</p>
              </div>
              <div class="col-xs-12 col-sm-3">
                  <span class="help-block pull-right has-error-block" 
                  *ngIf="orderForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i>E-mails não conferem</span>
             </div>
              <div class="col-sm-6 col-xs-12">
                  <mt-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Name">
                    <input class="form-control" placeholder="Name" 
                          formControlName="name" autocomplete="off">
                  </mt-input-container>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <mt-input-container errorMessage="E-mail inválido" label="E-mail">
                    <input class="form-control" placeholder="E-mail"
                          formControlName="email" autocomplete="off">
                  </mt-input-container>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <mt-input-container errorMessage="E-mail inválido" label="E-mail">
                    <input class="form-control" placeholder="Confimação do E-mail" 
                           formControlName="emailConfirmation" autocomplete="off">
                  </mt-input-container>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <p class="lead">Endereço de Entrega:</p>
              </div>
              <div class="col-sm-6 col-xs-12">
                  <mt-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Endereço">
                    <input class="form-control" placeholder="Endereço" 
                          formControlName="address"  autocomplete="off">
                  </mt-input-container>
              </div>
              <div class="col-sm-3 col-xs-6">
                <mt-input-container errorMessage="Obrigatório e somente números" label="Número">
                  <input class="form-control" placeholder="Número" 
                      formControlName="number" autocomplete="off">
                </mt-input-container>
              </div>
              <div class="col-sm-3 col-xs-6">
                <mt-input-container>
                  <input class="form-control" placeholder="Complemento" 
                    formControlName="optionalAddress" autocomplete="off">
                </mt-input-container>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <p class="lead">Itens do Pedido:</p>
              </div>
                <mt-order-items [items]="cartItems()"
                                (increaseQty)="increaseQty($event)"
                                (decreaseQty)="decreaseQty($event)"
                                (remove)="remove($event)">
                </mt-order-items>
            </div>

            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <p class="lead">Formas de Pagamento:</p>

                  <div class="form-group">
                      <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
                  </div>

              </div>
              <div class="col-sm-6 col-xs-12">
                <p class="lead">Frete e Total:</p>
                  <mt-delivery-costs [delivery]="delivery"
                                     [itemsValue]="itemsValue()">
                  </mt-delivery-costs>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-xs-12">
              <button (click)="checkOrder(orderForm.value)" class="btn btn-success pull-right" 
                      [disabled]="!orderForm.valid || cartItems().length === 0">
                      <i class="fa fa-credit-card"></i> Concluir Pedido
              </button>
            </div>
          </div>
      </section>
</section>